<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>signup list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
  <script>
    function openC(evt, cityName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-border-blue";
    }
  </script>
</head>
<style>
  .w3-theme {
    color:#fff !important;background-color:#1565C0 !important}
  .w3-theme-text {
    color:#007FB9 }
  .w3-theme-grey {color:#000 !important; background-color:#cccccc !important}
  .w3-theme-white {color:#000 !important; background-color: #F5F5F5 !important}

  .w3-theme-blue{
    color:#fff; background-color:#0070A7
  }
  .w3-theme-darkblue{
    color:#fff; !important;background-color:#00345D!important
  }
  table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
  }
  td, th {
    padding: 8px;
    border-right: 1px solid #ddd;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
</style>
<body>
<div class="container">
  <div class="w3-bar">
    <a href="#" class="bar-item w3-button w3-theme-text">VetDB</a>
    <a href="#" class="bar-item w3-button w3-right w3-hover-blue w3-theme">Sign out</a>
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button">Me</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Link 1</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-globe"></i></a>
    <button class="w3-bar-item w3-button w3-mobile w3-right w3-theme">Go</button>
    <input type="text" class="w3-bar-item w3-input w3-white w3-mobile w3-right" placeholder="Search..">

  </div>
</div>
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:360px;">
  <div class="w3-panel w3-card-2">
    <h2>Application Inbox</h2>
    <p>Review all your EMS placement applications!</p></br>
    <button class="w3-button  w3-black w3-small w3-theme-grey w3-right">apply</button>



  </div>
  <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" style="display: inline-block; width: 75%;" placeholder="Search:Name, email, etc...">
  <button class="w3-bar-item w3-button w3-mobile w3-right w3-theme" style="display: inline-block; width: 23%;">+ new</button>

  <ul class="w3-ul w3-card-4">
    <li class="w3-bar">
      <div style="display: inline-block;margin-left: 0px">Name </div>
      <div style="display: inline-block;margin-left: 70px">Email </div>
      <div style="display: inline-block;margin-left:100px">subject </div>
    </li>
    <li class="w3-bar">
      <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px;">
      <div style="display: inline-block;">Mike </div>
      <div style="display: inline-block; margin-left:10px">test@gmailcom</div>

      <!--          <div class="w3-bar-item"style="display: inline-block;">-->
      <!--            <span class="w3-small">Mike</span>-->
      <!--            <span class="w3-small">Web Designer</span>-->
      <button class="w3-button  w3-black w3-small w3-right w3-theme-grey" style ="margin-top: 10px">admin</button>
      <!--          </div>-->
    </li>

    <li class="w3-bar">
      <img src="img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px">
      <div style="display: inline-block;">Jill </div>
      <div style="display: inline-block; margin-left:23px">test@gmailcom</div>
      <button class="w3-button  w3-black w3-small w3-theme-grey w3-right" style ="margin-top: 10px">admin</button>
    </li>

    <li class="w3-bar">
      <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px">
      <div style="display: inline-block;">roy </div>
      <div style="display: inline-block; margin-left:15px">test@gmailcom</div>
      <button class="w3-button  w3-black w3-small w3-theme-grey w3-right" style ="margin-top: 10px">admin</button>
    </li>
    <li class="w3-bar">
      <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px">
      <div style="display: inline-block;">roy </div>
      <div style="display: inline-block; margin-left:15px">test@gmailcom</div>
      <button class="w3-button  w3-black w3-small w3-theme-grey w3-right" style ="margin-top: 10px">admin</button>
    </li>
    <li class="w3-bar">
      <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px">
      <div style="display: inline-block;">roy </div>
      <div style="display: inline-block; margin-left:15px">test@gmailcom</div>
      <button class="w3-button  w3-black w3-small w3-theme-grey w3-right" style ="margin-top: 10px">admin</button>
    </li>
    <li class="w3-bar">
      <img src="img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="display: inline-block; width:65px">
      <div style="display: inline-block;">roy </div>
      <div style="display: inline-block; margin-left:15px">test@gmailcom</div>
      <button class="w3-button  w3-black w3-small w3-theme-grey w3-right" style ="margin-top: 10px">admin</button>
    </li>
  </ul>
  <!-- Page number -->
  <!--<div class="w3-center">-->
  <div class="w3-bar"><center>
    <a href="#" class="w3-button">&laquo;</a>
    <a href="#" class="w3-button">1</a>
    <a href="#" class="w3-button">2</a>
    <a href="#" class="w3-button">3</a>
    <a href="#" class="w3-button">4</a>
    <a href="#" class="w3-button">&raquo;</a>
  </center>
  </div>
</div>

<!-- Page Content -->
<div class="w3-container" style="margin-left:400px;">
  <div class="w3-container w3-theme-blue w3-cell-middle">
    <p><h1>EMS Application</h1></p>
    <button class="w3-button   w3-large w3-theme-white w3-right" style ="margin-left: 5%;  margin-bottom:0px ">DENY</button>
    <button class="w3-button   w3-large  w3-right w3-theme-darkblue">APPROVE</button>

  </div>
  <div class="w3-container">
    <div class="w3-row">
      <a href="javascript:void(0)" onclick="openC(event, 'CONTACT');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">CONTACT</div>
      </a>
      <a href="javascript:void(0)" onclick="openC(event, 'LOCATION');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">LOCATION</div>
      </a>
      <a href="javascript:void(0)" onclick="openC(event, 'TYPE');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">TYPE</div>
      </a>
    </div>
    <div id="CONTACT" class="w3-container city" style="display:none">
      <div class="w3-container" >
        <table class="w3-table w3-xlarge">
          <th>Name</th>
          <td>Jill</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>test@gmail.com</td>
          </tr>
          <tr>
            <th>Contact Number</th>
            <td>01644 706 888</td>
          </tr>
          <tr>
            <th>Telephone</th>
            <td>07331341123</td>
          </tr>
          <tr>
            <th>Position</th>
            <td>EMS Coordinator</td>
          </tr>



        </table>



      </div>

    </div>

    <div id="LOCATION" class="w3-container city" style="display:none">
      <h2>LOCATION</h2>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="TYPE" class="w3-container city" style="display:none">
      <h2>TYPE</h2>
      <p>Tokyo is the capital of Japan.</p>
    </div>




    </div>
</div>




</body>
</html>