<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>General Login</title>
    <link rel="stylesheet" href="./studentStyles.css">
</head>

<body>
    <div class="container">
        <from class="form" id="studentSignIn">
        </from>
    </div>
    <div class="card-cover">
    <h1>Student Login</h1>
        <form>
            <div class="input-group">
                <input type="text" placeholder="Telephone/ Mobile Number" name = "phone*" required>
                <input type="text" placeholder="Password" name = "password*" required>
                <button type="submit">SIGN IN</button>
                 </div>
        </form>
    </div>
</body>

</head>

<footer>
    <p>VetDB was created for University of Bristol Computer Science 2022</p>
</footer>