<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Update Account Information</title>
    <link rel="stylesheet" href="./contactChange.css">
</head>

<body>
    <div class="container">
        <from class="form" id="UpdateContactInformation">
        </from>
    </div>
    <div class="card-cover">
    <h1>Update Account Information</h1>
        <form>
            <div class="input-group">
                <select>
                    <option value="value1">Placement Type</option>
                    <option value="value1">Animal Type</option>
                    <option value="value2">Provider Name</option>
                    <option value="value3">Address</option>
                    <option value="value3">County</option>
                    <option value="value3">Postcode</option>
                    <option value="value3">Country</option>
                    <option value="value3">Position at Practice</option>
                    <option value="value3">Email Address</option>
                    <option value="value3">Contact Number</option>
                    <option value="value3">Website</option>
                    <option value="value3">Provide of Accomodation</option>
                    <option value="value3">Notes</option>
                  </select>
                <input type="text" placeholder="[Recorded Information]" name = "update*" required>
                <button type="submit">Update</button>
                 </div>
        </form>
    </div>
</body>

</head>

<footer>
    <p>VetDB was created for University of Bristol Computer Science 2022</p>
</footer>